<%- include('head', { title: 'Authentication Example' }) -%>
<!-- Welcome Page -->
<h1>Welcome to the Website!</h1>

<p>
  <a href="/auth/login">Login</a> or <a href="/auth/register">Register</a>
</p>

<%- include('foot') -%>
