<%- include('head', { title: 'Registration Example' }) -%>

<h1>Register</h1>

<form method="post" action="/registration/register">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
  </p>

  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  </p>
      
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
  </p>

  <p>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword">
  </p>

  
  <p>
    <input type="submit" value="Register">
  </p>
</form>
<p>Already have an account? <a href="/auth/login">Login</a></p>
<%- include('foot') -%>
